body {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    overflow-x: hidden;
    color: #f0f0f0;
    text-align: center;
}
.text {
    transition: 200ms ease-in-out;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title {
    margin-top: 5rem
}
h1 {
    font-size: 3em;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: #c100be;
}