body {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #A89E9D;
}
p { 
    margin: 0.25rem;
    padding: 0.25rem;   
}
header {
    text-align: center;
}
.tab {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
nav {
    display: flex;
    overflow:hidden;
    padding-left: 5%;
}
header {
    padding-top: 3%;
    background-color: #ECDEDC;
    box-shadow: 0px 0px 5px 2px #777777;
}
h1 {
    margin: 0px;
}
#homeTab {
    background-color: #CABEBC;
}
#rockIdentifier {
    display: none;
}
#mineralIdentifier {
    display: none;
}
main {
    width: 90%;
    margin-left: 2%;
    margin-top: 2%;
    background-color: #ECDEDC;
    min-height: 60%;
    padding: 3%;
    position: relative;
    box-shadow: 0px 0px 5px 2px #3f3f3f;
    border-radius: 5px;
    margin-bottom: 5%;
}
label {
    min-width: 200px;
}
table {
    width: 50%;
}
#search, #add {
    width: 10%;
}
footer {
    padding: 2%;
    width: 96%;
    background-color: #645E5D;
}
html::-webkit-scrollbar {
    display: none;
  }
html {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }